
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

* {
  margin: 0;
}

html, body {
  height: 100%;
  background: #222
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

#footer {
bottom:10px;
height:30;
right:0%;
left:0%;
position:fixed!important;
position:absolute;
width=100%;
top:expression((0-(footer.offsetHeight)+
(document.documentElement.clientHeight?
document.documentElement.clientHeight:
document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop?
document.documentElement.scrollTop:document.
body.scrollTop))+'px');
text-align:center;
visibility:visible;
}

h1 {
  font: bold 200% Glass_TTY_VT220, monospace;
  color: lime;
  border-right: .1em solid;
  width: 16.5em; /* fallback */
  width: 48ch; /* # of chars */
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(42, end),
             blink-caret .5s step-end infinite alternate;
}

img {
  transition: background-color 0.5s ease;
  background-color: #666;
  margin: 10px;
  border-radius:100%;
}

img:hover {
  background-color: #BBB;
}


